html, body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  cursor: default;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.v2-view {
  position: relative;
  flex: 1;
  display: flex;
}

.v2-app {
}
.v2-app-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.v2-split {
}
.v2-split-horizontal {
  flex-direction: row;
}
.v2-split-vertical {
  flex-direction: column;
}
.v2-split-splitter {
}
.v2-split-horizontal > .v2-split-splitter {
  cursor: col-resize;
  width: 4px;
}
.v2-split-vertical > .v2-split-splitter {
  cursor: row-resize;
  height: 4px;
}
.v2-split-pane {
  flex: 1;
  display: flex;
}

.v2-dynamic-tree {
  overflow: auto;
  display: block;
}
.v2-dynamic-tree-item {
}
.v2-dynamic-tree-item-label {
  padding: .25rem .25rem .25rem 1.5rem;
}
.v2-dynamic-tree-item-label > .v2-tree-item-disclosure {
  margin-left: -1.5rem;
}
.v2-dynamic-tree-item-container {
  padding-left: 1rem;
}

.v2-collection {
  overflow: auto;
  outline: 0;
  display: block;
}
.v2-collection-overflow {
  width: 0;
}
.v2-collection-item {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.v2-collection-item-selected {
  background: rgba(0,0,0,.1);
}

.v2-tree {
  position: relative;
  overflow: auto;
  outline: 0;
  display: block;
}
.v2-tree-overflow {
  width: 0;
}
.v2-tree-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: .25rem .25rem .25rem 1rem;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.v2-tree-item-disclosure {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: -.25rem 0;
  transform: rotate(-90deg);
  cursor: pointer;
  flex-shrink: 0;
}
.v2-tree-item-disclosure::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: .25rem solid transparent;
  border-top: .4rem solid currentColor;
  border-bottom: 0;
  margin: -.2rem -.25rem;
  position: absolute;
  left: .75rem;
  top: .75rem;
}
.v2-tree-item-empty > .v2-tree-item-disclosure {
  visibility: hidden;
}
.v2-tree-item-expanded > .v2-tree-item-disclosure {
  transform: rotate(0deg);
}
.v2-tree-item-selected {
  background: rgba(0,0,0,.08);
}
.v2-tree-item-label {
  display: inline;
}
.v2-tree-item-editing {
  display: flex;
  padding-right: 1rem;
}
.v2-tree-item-editor {
  display: inline-block;
  margin: -.25rem calc(-.4rem - 1px);
  height: 1.5rem;
  box-sizing: border-box;
  font: inherit;
  padding: .2rem .4rem;
  flex: 1;
  border: 1px solid #ccc;
  width: 0;
  outline: 0;
}
.v2-tree-item-editor:hover {border: 1px solid #999;}
.v2-tree-item-editor:focus {border: 1px solid #5af;}

.v2-menu-bar {
  flex: none;
}
.v2-menu-bar > .v2-menu-item {
  padding: .25rem .5rem;
}
.v2-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  flex-direction: column;
  background: #333;
  color: #fff;
  /*top: -.5rem;
  padding: .5rem 0;*/
}
.v2-menu > .v2-menu-item {
  padding: .35rem 1rem .35rem 1.6rem;
}
.v2-menu-item::before {
  display: inline-block;
  width: 1.4rem;
  text-align: center;
  margin-left: -1.4rem;
}
.v2-menu-item-checked::before {content: '✓'}
.v2-menu-item-mixed::before {content: '•'}
.v2-menu > .v2-menu-item:hover {
  background: #555;
}
.v2-menu-separator {
  border-top: 1px solid;
  margin: .25rem 0;
  opacity: .3;
}
